.home__container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.home__first__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-end;
    gap: 10%;
    height: 25%;
}
.home__second__div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10%;
}

.home__newsLetter__div{
    /* scroll-behaviour: smooth; */
    width: 100%;
    display: table;
    display: flex;
    width: 50%;
    height: 60%;
    overflow: overlay;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    scroll-behavior: smooth;
    overflow-y:scroll
}

.Home__second_container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 25%;}