.dash--layout_container{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    height:calc(100vh - 20px);
    overflow-y: scroll;
}
.dash--main_content{
    width: calc(100% - 298px);
    margin-left: 280px;
    margin-right: 20px;
}

@media (max-width: 767px) {
.dash--layout_container{
width: 98%;
margin:auto;
margin-top: 20px;

}
    .dash--main_content{
        width: 100%;
        margin: auto;
        margin-top: 0px;
    }
}