.page--header_container{
    background-color: var(--primary);
    padding: 10px 20px;
    color:white;
    border-radius: 20px;
    width: calc(100% - 40px);
    box-shadow: 2px 2px 2px #00000055;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.page--header_container h2{

    margin: 0;
    padding: 0;
    

}
@media(max-width:767px){
.page--header_container h2{
margin-left: 40px;
}
.page--header_container{
flex-direction: column;
}
}